
name: Delete all Pods (Selection)

on:
  workflow_dispatch:
    inputs:
      namespace:
        description: 'Namespace to delete pods from'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - automation
          - kubernetes-dashboard
          - default
          - prod
          - radar
          - kube-system
          - kube-flannel
  schedule:
    - cron: '0 8 * * 6'

jobs:
  delete-pods:
    runs-on: self-hosted
    env:
      KUBECONFIG: ${{ github.workspace }}/kubeconfig
    steps:
      - name: Configure Kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" > kubeconfig

      - name: Delete pods in selected namespaces
        run: |
          NS="${{ github.event_name == 'workflow_dispatch' && inputs.namespace || 'all' }}"
      
          if [ "$NS" = "all" ]; then
            for ns in automation kubernetes-dashboard default prod radar kube-system kube-flannel; do
              kubectl delete pods --all -n "$ns"
            done
          else
            kubectl delete pods --all -n "$NS"
          fi
