on:
  workflow_dispatch:

jobs:
  delete-pods:
    runs-on: self-hosted
    env:
      KUBECONFIG: ${{ github.workspace }}/kubeconfig
    steps:
      - name: Configure Kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" > kubeconfig

      - name: Delete pods in selected namespaces
        run: |
          for ns in automation kubernetes-dashboard default prod radar; do
            kubectl delete pods --all -n "$ns"
          done
