name: Restart Cloudflare Tunnels

on:
  workflow_dispatch:

jobs:
  restart-tunnels:
    runs-on: self-hosted
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Restart all Cloudflare tunnels
        run: |
          sudo systemctl restart cloudflared*.service
