name: Restart Cloudflare Tunnels

on:
  workflow_dispatch:

jobs:
  restart-tunnels:
    runs-on: self-hosted
    if: |
      (github.event_name == 'workflow_dispatch' && github.actor == 'gregheffner') ||
      (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && github.actor == 'gregheffner')
    steps:
      - name: Restart all Cloudflare tunnels
        run: |
          sudo systemctl restart cloudflared*.service
